# Environment (កុំ commit ឯកសារដែលមាន password)
.env

# Uploaded images
uploads/

# SQLite database (Local dev)
*.db
*.sqlite3
*.db-journal

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Deployment
.vercel/
node_modules/
